/* minimal reset */

* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* app styles */

body {
  background: #222;
  color: #fff;
}

.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 1rem;
}

button {
  background: #00a1ff;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0087d6;
}

button.red {
  background: #f00;
  color: #fff;
}

button.gray {
  background: #333;
  color: #eee;
}

.sidebar {
  background: #111;
  padding: 1rem;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.sidebar .header {
  font-size: 1.1rem;
  color: #444;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.sidebar .story-title {
  color: #888;
  text-align: center;
  width: 100%;
  margin: -0.25rem 0 1rem 0;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow-y: auto;
}

.container .document,
.container .story {
  background: #333;
  color: #eee;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 4px;
}

.container .document {
  width: 100%;
  max-width: 1000px;
  font-family: 'Dank Mono', 'Fira Code', 'Consolas', monospace;
}

.container .story {
  margin-top: 2rem;
  min-height: 200px;
  width: 500px;
}
